* {
  margin: 0;
  padding: 0;
  outline: none;
}

.text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: #222222;
}

.header_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.header_text_h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.text_pink {
  color: #F26376;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_top {
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_list_li {
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}

.menu_img {
  height: 29px;
}

.menu_left_img {
  height: 38px;
  margin-right: 41px;
}

.menu_right_img {
  margin-left: 33px;
}

.header_main {
  background-color: #F1E4E6;
  max-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_main_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_main_left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_img {
  width: 100%;
  height: auto;
}

.header_main_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_main_text {
  margin-left: 64px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_index {
  padding-top: 65px;
}

.men_women_kids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.women {
  display: block;
  position: relative;
  width: calc(1/3*100% - (1-1/3)*30px);
  height: 260px;
  background-image: url(images/Women.svg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.women::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
}

.men {
  display: block;
  position: relative;
  width: calc(1/3*100% - (1-1/3)*30px);
  height: 260px;
  background-image: url(images/Men.svg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.men::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
}

.kids {
  display: block;
  position: relative;
  width: calc(1/3*100% - (1-1/3)*30px);
  height: 260px;
  background-image: url(images/Kids.svg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.kids::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
}

.accesorises {
  margin-top: 30px;
  margin-bottom: 96px;
  display: block;
  position: relative;
  width: 100%;
  height: 180px;
  background-image: url(images/Accesorises.svg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.accesorises::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
}

.men_women_kids_text {
  position: relative;
  z-index: 100;
}

.text_chapter {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.text_chapter_2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.fetured_items {
  text-align: center;
  margin-bottom: 48px;
}

.heading2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured_items_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.items, .items_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items_product {
  margin-bottom: 128px;
}

.item {
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item_pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.item:hover .add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_pic {
  width: 100%;
}

.item_link {
  display: block;
  text-decoration: none;
}

.item_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.txt_box {
  padding-top: 25px;
  padding-left: 18px;
  padding-bottom: 20px;
}

.add_box {
  display: none;
  position: absolute;
  top: 188px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px;
  border: 1px solid #fff;
  pointer-events: all;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.add_txt {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}

.product_button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px auto 96px;
  width: 211px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FF6A6A;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 47px;
  color: #F26376;
}

.product_button:hover {
  background-color: #F16D7F;
  color: #ffffff;
}

.footer_top {
  height: 340px;
  background-color: #222224;
}

.footer_top_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_top_text_heading {
  margin-top: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer_top_text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer_img {
  height: 35px;
}

.footer_middle {
  position: relative;
  width: 100%;
  height: 448px;
  background-image: url(images/footer_bg.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_middle::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 244, 244, 0.7);
}

.footer_middle_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer_middle_comment {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  margin-right: 20%;
}

.footer_miidle_comment_text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer_middle_subscribe {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.footer_middle_subscribe_text_heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.footer_middle_subscribe_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_area {
  background: #E1E1E1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 7px 22px;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid transparent;
  width: 256px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  background: #F16D7F;
  border: 1px solid #F16D7F;
  border-radius: 0px 30px 30px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 7px;
}

.button:hover {
  color: #F16D7F;
  background-color: #fff;
}

.footer_bottom {
  background-color: #222224;
}

.footer_bottom_content {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_bottom_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.main_menu {
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border: 1px solid #000;
  padding: 33px;
  position: absolute;
  top: 60px;
  display: none;
}

.main_menu::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  left: 12px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.main_menu_item_link {
  display: block;
  text-decoration: none;
  color: #6F6E6E;
  margin-bottom: 11px;
  padding-left: 22px;
}

.main_menu_item_link:hover {
  color: #F16D7F;
}

.menu_list_li:hover .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 101;
}

.heading3 {
  font-weight: 700;
  color: #000000;
  margin-bottom: 24px;
  width: 166px;
}

.heading3_1 {
  color: #F16D7F;
  margin-bottom: 12px;
}

.heading4 {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.heading5 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.icon_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin-left: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
}

.icon_link:hover {
  background-color: #F16D7F;
  color: #fff;
}

.header_nav {
  background-color: #F8F3F4;
  padding-top: 65px;
  padding-bottom: 65px;
}

.header_nav_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_nav_text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.breadcrumb_li {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb_li:hover {
  text-decoration: underline;
}

.breadcrumb li::before {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  color: #636363;
}

.breadcrumb li:hover::before {
  text-decoration: none;
}

.breadcrumb li:last-child:hover {
  text-decoration: none;
}

.breadcrumb li:first-child::before {
  content: '';
}

.breadcrumb li:last-child {
  font-weight: 700;
  color: #F16D7F;
}

.content_product {
  background-color: #F7F7F7;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
  padding-bottom: 41px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.product_img {
  display: block;
}

.arrow_box {
  content: '';
  display: block;
  position: relative;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.arrow_left {
  content: '';
  position: absolute;
  top: 14px;
  left: 18px;
  width: 16px;
  height: 16px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow_box:hover .arrow_left {
  border-left: 4px solid #F16D7F;
  border-bottom: 4px solid #F16D7F;
}

.arrow_right {
  content: '';
  position: absolute;
  top: 14px;
  left: 10px;
  width: 16px;
  height: 16px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow_box:hover .arrow_right {
  border-top: 4px solid #F16D7F;
  border-right: 4px solid #F16D7F;
}

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.product_discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -65px;
  border: 1px solid #EAEAEA;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 129px;
}

.discription_name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.line {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-bottom: 12px;
}

.discription_heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.discription_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  margin: 0 293px 32px;
}

.discription_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.choises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

summary {
  list-style: none;
  margin-right: 23px;
}

summary::after {
  content: url(images/Vector.png);
  margin-left: 9px;
}

.discription_details_text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  position: relative;
}

.extra {
  margin-right: 0px;
}

.add_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-left: 24px;
  padding-bottom: 14px;
  padding-right: 56px;
  border: 1px solid #FF6A6A;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add_button:hover {
  background-color: #FF6A6A;
}

.product_add_txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin-left: 23px;
}

.add_button:hover .product_add_txt {
  color: #fff;
}

.product_add_pic {
  display: block;
}

.add_button:hover .product_add_pic {
  -webkit-filter: grayscale(1) brightness(1000%);
          filter: grayscale(1) brightness(1000%);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter_burger {
  margin-top: 51px;
  margin-bottom: 64px;
  margin-left: 16px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
}

.filter_text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
}

.filter_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 16px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 37px;
  left: -1px;
  background-color: #fff;
  visibility: hidden;
  z-index: 100;
}

.filter_burger:hover .filter_menu {
  visibility: visible;
}

.filter_menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_menu_subtitle {
  width: 328px;
  height: 37px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  color: #EF5B70;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
}

.filter_menu_link {
  display: block;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding-left: 17px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.catalog_choises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog_details {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sizes {
  position: absolute;
  list-style-type: none;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 100;
}

.size_variant {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.size_variant:not(:last-of-type) {
  margin-bottom: 10px;
}

.catalog_checkbox {
  margin-right: 10px;
}

.catalog_pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49px;
  margin-bottom: 96px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 15px 7px;
  border: 1px solid #EBEBEB;
}

.pag_link {
  text-decoration: none;
  margin-left: 9px;
  margin-right: 9px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pag_arrow {
  font-size: 29px;
  color: #000;
}

.pag_link:hover {
  color: #EF5B70;
}

.pag_arrow:hover {
  color: #EF5B70;
}

.header_name {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.content_reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
}

.reg_form {
  width: 359px;
  margin-right: 11%;
}

.form_heading {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.form_text_input {
  width: 359px;
  height: 44px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 21px;
}

.sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  margin-bottom: 33px;
}

.radio_box {
  margin-right: 10px;
}

.radio_text {
  margin-right: 30px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.password_help {
  margin-top: -6px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg_form_button {
  margin-top: 39px;
  padding: 16px 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}

.reg_form_button:hover {
  color: #F16D7F;
  background-color: #fff;
}

.content_reg_article {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content_reg_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
  color: #000000;
}

.content_reg_li {
  list-style-position: inside;
  list-style-type: none;
}

.content_reg_li_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
  color: #000000;
}

.content_reg_li li::before {
  content: url(images/check.png);
}
/*# sourceMappingURL=style.css.map */