* {
    margin: 0;
    padding: 0;
    outline: none;
}

.text {
    font-family: sans-serif;
    font-style: normal;
    color: #222222;
}

.header_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.header_text_h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.text_pink {
    color: #F26376;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_top {
    height: 75px;
    background-color: #000;
    padding-top: 23px;
    box-sizing: border-box;
    
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.menu_img {
    height: 29px;
}

.menu_left_img {
    margin-right: 41px;
}

.menu_right_img {
    margin-left: 33px;
}

.header_main { 
    background-color: #F1E4E6;
    height: 764px;
    display: flex;
}

.header_main_left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header_main_right {
    display: flex;
    align-items: center;
}
.header_main_text {
    margin-left: 64px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    box-sizing: border-box;
}
.content {
    padding-top: 65px;
}

.men_women_kids {
    display: flex;
    justify-content: space-between;
}

.women {
    display: block;
    position: relative;
    width: calc(1/3*100% - (1-1/3)*30px);
    height: 260px;
    background-image: url(images/Women.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.women::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, 0.7);
}

.men {
    display: block;
    position: relative;
    width: calc(1/3*100% - (1-1/3)*30px);
    height: 260px;
    background-image: url(images/Men.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.men::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, 0.7);
}

.kids {
    display: block;
    position: relative;
    width: calc(1/3*100% - (1-1/3)*30px);
    height: 260px;
    background-image: url(images/Kids.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.kids::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, 0.7);
}

.accesorises {
    margin-top: 30px;
    margin-bottom: 96px;
    display: block;
    position: relative;
    width: 100%;
    height: 180px;
    background-image: url(images/Accesorises.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.accesorises::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, 0.7);
}

.men_women_kids_text {
    position: relative;
    z-index: 100;
}

.text_chapter {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text_chapter_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.fetured_items {
    text-align: center;
    margin-bottom: 48px;
}

.fetured_items_text_heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.fetured_items_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 360px;
    height: 581px;
    background-color: #aaa;
    margin-bottom: 30px;
}

.product_button {
    display: block;
    display: flex;
    margin: 48px auto 96px;
    width: 211px;
    justify-content: center;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 47px;
    color: #F26376;
}

.product_button:hover {
    background-color: #F16D7F;
    color: #ffffff;
}

.footer_top {
    height: 340px;
    background-color: #222224;
}

.footer_top_features {
    display: flex;
    justify-content: space-between;
    height: 340px;
    align-items: center;
}

.feature {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_top_text_heading {
    margin-top: 28px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer_top_text {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer_img {
    height: 35px;
}

.footer_middle {
    position: relative;
    width: 100%;
    height: 448px;
    background-image: url(images/footer_bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.footer_middle::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(244, 244, 244, 0.7);
}

.footer_middle_content {
    display: flex;
    justify-content: space-between;
}

.footer_middle_comment {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.footer_miidle_comment_text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer_middle_subscribe {
    width: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.footer_middle_subscribe_text_heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.footer_middle_subscribe_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.input {
    display: flex;
    justify-content: center;
}

.input_area {
    background: #E1E1E1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 7px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid transparent;

}

.button {
    background: #F16D7F;
    border: 1px solid #F16D7F;
    border-radius: 0px 30px 30px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 7px;

}






.footer_bottom {
    background-color: #222224;
}

.footer_bottom_content {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer_bottom_img {
    margin-left: 7px;
}